<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjj.origod.dao.GlobalMapper">
<!--food-->
<!-- 根据商家id查询商家菜品-->
    <select id="selectFoodByM_id" resultType="java.util.Map">
        select f_id,class_name,is_available,sale_count,score,f_price
        from food_table join class_table
        using(class_id) where m_id = #{m_id};
    </select>
    <update id="updateFoodById">
        update food_table
        set class_id=#{class_id},f_name=#{f_name},is_available=#{is_available},f_price=#{f_price}
        where f_id = #{f_id};
    </update>

    <insert id="insertFoodOnM_id">
        insert food_table(m_id,class_id,f_name,is_available,f_price)
        values(#{m_id},#{class_id},#{f_name},#{is_available},#{f_price});
    </insert>

    <delete id="deleteFoodById">
        delete from food_table where f_id = #{f_id}
    </delete>
<!--food-->


<!--comment-->
    <select id="selectCommentByM_id" resultType="java.util.Map">
        select comment_id,f_name,content,c.score
        from comment_table c join food_table f using(f_id)
        where f_id in (select f_id from food_table where m_id=#{m_id});
    </select>
<!--comment-->


<!--order-->
    <select id="selectOrderByM_id" resultType="java.util.Map">
        select o_id,c_name,c_address,c_phone,begin_time,status,d_phone
        from order_table join customer_table using(c_id) join delivery_table using(d_id)
        where m_id=#{m_id};
    </select>

    <update id="updateOrderStatusById">
        update order_table set
        status=#{status}
        where o_id = #{o_id};
    </update>

    <insert id="insertOrder" keyProperty="o_id" useGeneratedKeys="true">
        insert into order_table(m_id,c_id,status)
        values(#{order.m_id},#{order.c_id},'Waiting');
    </insert>
<!--order-->

<!--class-->
    <select id="selectClassIdByName">
        select class_id from class_table where class_name = #{class_name};
    </select>
<!--class-->


<!--token-->
    <select id="selectFoodsByOrder" resultType="java.util.Map">
        select f_name,f_price,f_count
        from token join food_table using(f_id)
        where o_id=#{o_id};
    </select>

    <insert id="insertFoodInOrder">
        insert into token(o_id,f_id,f_count)
        values(#{o_id},#{f_id},#{f_count})
    </insert>
<!--token-->
<!--FOR Customer-->


</mapper>